
@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@mixin anim($time, $delay) {
    -webkit-transition: all $time ease $delay;
    -moz-transition: all $time ease $delay;
    -ms-transition: all $time ease $delay;
    -o-transition: all $time ease $delay;
}

@mixin anim_cubic($time, $delay) {
    -webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
    -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
}

@mixin rotate($deg) {
    -webkit-transition: rotate($deg);
    -moz-transition: rotate($deg);
    -ms-transition: rotate($deg);
    -o-transition: rotate($deg);
}

@mixin scale($num) {
    -webkit-transition: scale($num);
    -moz-transition: scale($num);
    -ms-transition: scale($num);
    -o-transition: scale($num);
}

@mixin skew($num) {
    -webkit-transition: skewX($num);
    -moz-transition: skewX($num);
    -ms-transition: skewX($num);
    -o-transition: skewX($num);
}

@mixin cnt($h) {
    display: flex;
    flex-direction: column;
    height: $h;
    text-align: center;
    align-items: stretch;
    justify-content: center;
}

@mixin tr($x, $y, $z) {
    transform: translate($x, $y, $z);
}

@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}

//////////////////////
//Миксины
//подключаем шрифты

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic");

@font-face {
    font-family: 'beer money';
    src: url("../fonts/beer money.eot");
    src: local("☺"), url("../fonts/beer money.woff") format("woff"), url("../fonts/beer money.ttf") format("truetype"), url("../fonts/beer money.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url("../fonts/8277.eot");
    src: local("☺"), url("../fonts/8277.woff") format("woff"), url("../fonts/8277.ttf") format("truetype"), url("../fonts/8277.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

//
//переменные
$minwidth: 320px;
$mw: 834;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

html, body {
    font-family: 'Roboto';
}

//Обнуление
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    min-width: $minwidth;
    position: relative;
    widows: 100%;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: $fontfamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &.lock {
        overflow: hedden;

        @media (max-width: $md3 + px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}

input,
button,
textarea {
    font-family: $fontfamily;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

$fontfamily: "Roboto"; //шрифт
