@page "/"

@inject IModalService modal

<div>
    <div class="background">
        <div class="canvas">
            <div class="logo-head"><img src="img/logo.svg" alt="logo" class="logo-image" /></div>
        </div>
        <div class="canvas">
            <div class="main__about">
                <div class="about__left">
                    <div class="human align-center"><img src="img/human.svg" alt="human writing" class="image-large" /></div>
                </div>
                <div class="about__right">
                    <div class="text">
                        <h1>
                            You don't have a to-do <br /> list yet, let's fix it
                        </h1>
                        <p>Get started add new list</p>
                        <div class="button">
                            <a href="list/1" style="display: flex; width: 100%; height: 100%;
                        justify-content: center; text-decoration: none; align-items: center;
                        color: white;">ADD NEW LIST</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas">
        </div>
        <div class="d-flex align-content-end" style="justify-content: flex-end; width: 100%; padding: 0 2.5vw 2.5vw 0;">
            <HamButton Visible="!modal.IsOpen" IsActive="modal.IsOpen" Click="modal.Click" />
        <div class="@cssClassModel modal custom show" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="trackModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <div class="addList" style="font-family:Calibri; padding-right:10px;  font-size: 30px; color:white; text-align:left; cursor:pointer">+</div>
                        <h3 class="getlaid" id="trackModalLabel">My ToDos</h3>

                    </div>

                    <div class="modal-body">
                        <div class="Lists" style="display:flex; justify-content:space-between; width: 100%;  border-bottom: 0.5px solid; color: #dcdcdc">
                            <a href="/list/1" width="100%" style="color:green; text-decoration:none"><p>TestList1</p></a>
                            <div class="deleteList" style="font-family:Calibri;   font-size: 15px; color:#b64b4b; text-align:right; cursor:pointer">x</div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="btnmodal" data-dismiss="modal"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        /// Обновление кнопки HamButton после закрытия Modal
        modal.Update += () => StateHasChanged();
    }
}
