@page "/"
<div class="background">
        <div class="canvas">
            <div class="logo-head"><img src="/img/logo.svg" alt="logo" class="logo-image" /></div>
        </div>
        <div class="canvas">
            <div class="main__about">
                <div class="about__left">
                    <div class="human align-center"><img src="/img/human.svg" alt="human writing" class="image-large"/></div>
                </div>
                <div class="about__right">
                    <div class="text">
                        <h1>Text one this asd<br />Im fine you</h1>
                        <p>thias bottom text</p>
                        <button>Add List</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas">

        </div>
    </div>