@page "/"

@inject CompituProject.Services.IMyModalService  modal
@inject IToDoListService service
@inject NavigationManager navigate
@inject IJSRuntime js

<div class="background">
    <div class="canvas">
        <a href="/CompituProject/">
            <img class="logo" src="img/logo.png" width="152"  style="font-family:Montserrat; font-weight: 200" />
        </a>
    </div>
    <div class="canvas">
        <div class="main__about">
            <div class="about__left">
                <div class="buttonMobile" @onclick="@(()=> modalService.Show<AddListModal>("Add list"))">
                    <a>ADD NEW LIST</a>
                </div>
                <img src="img/brainmobile.svg" alt="brain" class="brain" />
                <img src="img/human.svg" alt="human writing" class="image-large" />
            </div>
            <div class="about__right">
                <div class="text">
                    <h1>
                        You don't have a to-do <br /> list yet, let's fix it
                    </h1>
                    <p>Get started add new list</p>
                    <div class="button" @onclick="@(()=> modalService.Show<AddListModal>("Add list"))">
                        <a>ADD NEW LIST</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="canvas">
    </div>
    <div class="burger">
        <HamButton Visible="!modal.IsOpen" IsActive="modal.IsOpen" Click="modal.Click" />
    </div>
</div>

@code {      
    [CascadingParameter]
    public IModalService modalService { get; set; }

    protected override void OnInitialized()
    {
        /// Обновление кнопки HamButton после закрытия Modal
        modal.Update += () => StateHasChanged();
    }
}
