@page "/list/{id:int}"

@inject IMyModalService modal
@inject IToDoListService service
@inject NavigationManager navigate
@inject IJSRuntime js

<div class="content">
    <div class="container" id="content-retreat">
        <div class="content-header pt-5">
            <h2 class="content-text">@Name</h2>
            <a href="/CompituProject/">
                <img class="content-logo" src="img/logo.svg" />
            </a>
        </div>

        @if (!list.Any())
        {
            <div class="content-body">
                <div class="content-img pt-5" id="wide-image-format">
                    <div class="content-img__item">
                        <img src="img/girl fix.svg" />
                    </div>
                    <div class="content-img__item">
                        <img src="img/h1.svg" />
                    </div>
                    <div class="content-img__item">
                        <img src="img/h2.svg" />
                    </div>
                </div>

                <div class="content-img" id="compressed-image-format">
                    <img src="img/adaptiveHuman.svg" />
                </div>

                <div class="content-subtext pt-5">
                    <h3 class="text-color__grey">List have not tasks</h3>
                    <span>added task, plese</span>
                </div>
            </div>
        }
        else
        {
            <div class="content-todo">
                @foreach (var item in list)
                {

                    <a href="/">@item</a>

                }
            </div>
        }
    </div>
</div>

<div class="content-button mt-2">
    <div class="block-retreat">
        <div class="button-block">
            <button class="btn btn-radius" @onclick="AddToDo">
                <span class="material-icons">
                    add
                </span>
                <span class="text-famaly__roboto mr-1">Add a new task</span>
            </button>
            <div class="line"></div>
        </div>
    </div>
</div>
<div class="burger-todo">
    <button class="no-hover" style="text-align:left" @onclick="modal.Click">
        <div class="dots">
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </div>
    </button>
    <HamButton Visible="true" IsActive="modal.IsOpen" Click="modal.Click" />
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    public string Name { get; set; }

    private List<string> list = new List<string>();

    private void AddToDo()
    {
        list.Add("Test message");
    }

    protected override async Task OnInitializedAsync()
    {
        await service.ReadToDo();
    }

    protected override void OnParametersSet()
    {
        // Если осуществляется переход на удалённый лист, то возвращаемся на главную
        try
        {
            Name = service.Get().Find(i => i.Id == Id).Name;
        }
        catch
        {
            navigate.NavigateTo("/");
        }
    }
   
    protected override void OnInitialized()
    {
        /// Обновление кнопки HamButton после закрытия Modal
        modal.Update += () => StateHasChanged();
    }
}
