@page "/list/{id:int}"

@inject IMyModalService modal
@inject NavigationManager navigate

<div class="content">
    <div class="container" id="content-retreat">
        <div class="content-header pt-5">
            <h2 class="content-text">@Name</h2>
            <a href="/CompituProject/">
                <img class="content-logo" src="img/logo.svg" />
            </a>
        </div>

        @if (!list.Any())
        {
            <div class="content-body">
                <div class="content-img pt-5" id="wide-image-format">
                    <div class="content-img__item">
                        <img src="img/girl fix.svg" />
                    </div>
                    <div class="content-img__item">
                        <img src="img/h1.svg" />
                    </div>
                    <div class="content-img__item">
                        <img src="img/h2.svg" />
                    </div>
                </div>

                <div class="content-img" id="compressed-image-format">
                    <img src="img/adaptiveHuman.svg" />
                </div>

                <div class="content-subtext pt-5">
                    <h3 class="text-color__grey">List have not tasks</h3>
                    <span>added task, plese</span>
                </div>
            </div>
        }
        else
        {

    <div class="content-todo mt-5">
        @if (list.Any(i => !i.Completed))
        {
            <ToDoView Models="list.Where(i => !i.Completed)" Save="Save" AddToDo="AddToDo"></ToDoView>
        }

        <ul class="accordionTodo">
            <li>
                <input type="checkbox" @bind="hiddenCompiled">
                <i class="arrowUp"></i>
                <p class="completed">Completed (@list.Where(i => i.Completed).Count())</p>
                <div class="hideTodoList"><ToDoView Models="list.Where(i => i.Completed)" Save="Save" AddToDo="AddToDo"></ToDoView></div>
            </li>
        </ul>


        @if (list.Where(i => !i.Completed).Count() == 0 && hiddenCompiled)
        {
            <div class="completed-container">
                <div class="completed-img">
                    <img src="img/compeled.svg" />
                </div>
                <div class="content-subtext pt-3">
                    <h3 class="text-color__grey">All todos compeled</h3>
                    <span>added task, plese</span>
                </div>
            </div>
        }
    </div>
                    }
        </div>
</div>        

<div class="content-button mt-2">
    <div class="block-retreat">
        <div class="button-block">
            <button class="btn btn-radius" @onclick="AddGlobalToDo">
                <span class="material-icons">
                    add
                </span>
                <span class="text-famaly__roboto mr-1">Add a new task</span>
            </button>
            <div class="line"></div>
        </div>
    </div>
</div>
<div class="burger-todo">
    <div class="left">
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="no-hover"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-align:left">
                <div class="dots">
                    <span>.</span>
                    <span>.</span>
                    <span>.</span>
                </div>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" @onclick="CompletedAll">Completed All</a>
                <a class="dropdown-item" href="/CompituProject/">Back</a>
            </div>
        </div>
    </div>
    <div class="right">
        <HamButton Visible="true" IsActive="modal.IsOpen" Click="modal.Click" />
    </div>
</div>
