@inherits AddToDoModal<GlobalToDo>

<div class="addListContent" @onkeyup="lazyKey">
    <div class="styled-input">
        <input type="text" required @bind="@toDo.Title" />
        <label>Title</label>
        <span></span>
    </div>
    <br />
    <div class="styled-input">
        <input type="text" required @bind="@toDo.SubTitle" />
        <label>SubTitle</label>
        <span></span>
    </div>
    <div class="buttonAdd" @onclick="AddToDo">
        <a>Add</a>
    </div>
</div>