@inherits AddToDoModal<GlobalToDo>

<EditForm Model="toDo" OnValidSubmit="AddToDo">
    <DataAnnotationsValidator />
    <div class="addListContent" @onkeyup="lazyKey">
        <div class="styled-input">
            <input type="text" required @bind="@toDo.Title" />
            <label>Title</label>
            <span></span>
            <ValidationMessage For="@(() => toDo.Title)" />
        </div>
        <br />
        <div class="styled-input">
            <input type="text" required @bind="@toDo.SubTitle" />
            <label>SubTitle</label>
            <span></span>
        </div>
        <button class="btn buttonAdd">
            Add
        </button>
    </div>
</EditForm>