@inherits AddToDoModal<GlobalToDo>
@inject IJSRuntime js

<div class="add-todo-content" @onkeyup="lazyKey">
    <div class="add-todo">
        <input type="text" required @bind="@toDo.Title" />
        <label>Task name</label>
        <span></span>
    </div>
    <br />
    @if (addSubtitle == true)
    {
        <div class="add-todo">
            <input type="text" required @bind="@toDo.SubTitle" />
            <label>Additional Information</label>
            <span></span>
        </div>
    }

<div class="add-container">
    <i class="fas fa-align-left" @onclick="() => addSubtitle = true"></i>
    <input type="datetime-local" class="datepick" @onchange="@EndDate_change" />
    <button class="btn add-todo-button" @onclick="AddToDo">
        Add
    </button>
</div>
</div>
@code{

    protected void EndDate_change(ChangeEventArgs endDateEvent)
    {
        DateTime.TryParse(endDateEvent.Value.ToString(), out DateTime tempTime);

        toDo.DateTime = tempTime;

        StateHasChanged();
    }
}