@inherits AddToDoModal<ToDo>

<div class="add-todo-content" @onkeyup="lazyKey">
    <div class="add-todo">
        <input type="text" required @bind="@toDo.Title" />
        <label>Subtask name</label>
        <span></span>
    </div>
    <br />

    <div class="add-container">
        <button class="btn add-todo-button" @onclick="AddToDo">
            Add
        </button>
    </div>
</div>
