<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="notFound">
                    <a class="btn btn-radius" href="/CompituProject/">
                        <i class="fas fa-angle-left"></i>
                        <span class="text-famaly__roboto mr-1">Go back home</span>
                    </a>
                    <img src="img/notFound.svg" />
                    <div class="content-subtext pt-5">
                        <h3 class="text-color__grey">ERROR</h3>
                        <span>OOop's! Sorry, page not found. Maybe back?</span>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>
