@inherits LayoutComponentBase
@inject IToDoListService listServ

<Modal ToDoLists="listServ.Get()" />


<div class="main">
    @Body
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        await listServ.ReadToDo();
    }
}