
<div class="filter @(modal.IsOpen.Value ? "dark" : string.Empty)" @onclick="modal.Click">
</div>

<div class="modal custom @cssClassShow" id="trackModal" tabindex="-1"
     role="dialog" aria-labelledby="trackModalLabel" aria-hidden="true">
    <div class="modal-dialog @(modal.IsOpen.Value ? "modal-enable" : string.Empty)">
        <div class="modal-content">

            <div class="modal-header">
                <div class="added-list">
                <i class="fa fa-plus"></i>
                <h3 class="getlaid" id="trackModalLabel">Select list</h3>
                </div>
            </div>

            <div class="modal-body">
                <div class="list">
                @foreach (var list in ToDoLists)
                {
                    <a href="list/@list.Id" @onclick="modal.Click"><p>@list.Name</p></a>
                }
                <i class="fa fa-trash"></i>
                </div>
            </div>

            <div class="modal-footer">
                <div class="btnmodal" data-dismiss="modal">
                </div>
            </div>
        </div>
    </div>
</div>